{% extends 'layout.html.twig' %}

{% block content %}
    <h3>Listado de usuarios </h3>

    <p>
        <a href="{{ path('usuario_nuevo') }}">Nuevo usuario</a>
    </p>

    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de usuario</th>
                <th>Correo</th>
                <th>Clave</th>
                <th>Permisos</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.clave  }}</td>
                <td>{{ usuario.permisos  }}</td>

                <td><a href="{{ path('usuario_modificar', {'id': usuario.id}) }}">Modificar</a></td>
                <td><a href="{{ path('usuario_eliminar', {'id': usuario.id}) }}">Eliminar</a></td>
            </tr>
        {% else %}
            <tr>
                <th colspan="5">No hay usuarios</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}