{% extends 'layout.html.twig' %}

{% block content %}
    <article>
        <div class="contenido">
            <h3>{{ ruta.nombre }}</h3>

            <div class="divImg">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.9437232513633!2d-3.635902294337572!3d38.098903218687546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6e9b313c294117%3A0x76134fbbe1e3384a!2sTienda%20SEUR%20Pickup!5e0!3m2!1ses!2ses!4v1701685640254!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <p><strong>Descripción:</strong> {{ ruta.descripcion }}</p>

            <p><strong>Comentarios </strong><span class="icon-bubbles4"></span></p>

            {% if is_granted('ROLE_USUARIO') == true %}
                <a href="{{ path('valoracion_nueva', {'id': ruta.id}) }}">Nuevo comentario</a>
            {% endif %}

            <div class="comentarios-section">

                {% set sumaPuntuaciones = 0 %}
                {% set cantidadValoraciones = 0 %}

                {% for valoracion in valoraciones %}
                    {% set sumaPuntuaciones = sumaPuntuaciones + valoracion.puntuacion %}
                    {% set cantidadValoraciones = cantidadValoraciones + 1 %}

                        <div class="comentario">
                            <div class="usuario">
                                <p>{{ valoracion.usuario.nombreUsuario }}</p>
                            </div>
                            <p>
                                {{ valoracion.fechaCreacion ? valoracion.fechaCreacion | date('d/m/Y H:i:s') }}
                            </p>
                            <div class="puntuacion">
                                <p>Puntuación: {{ valoracion.puntuacion }}</p>
                            </div>
                            <div class="texto-comentario">
                                <p>{{ valoracion.comentario }}</p>
                            </div>

                            {% if is_granted('ROLE_MODERADOR') == true %}
                                <a href="{{ path('valoracion_modificar', {'id': valoracion.id}) }}">Editar/Eliminar</a>
                            {% endif %}

                        </div>
                {% endfor %}

                <div class="gallery">
                    <p>IMÁGENES <span class="icon-camera"></span></p>
                    <div class="gallery-images">
                        {% for imagen in imagenes %}
                            <img src="{{ asset(imagen.direccion) }}" class="thumbnail" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <nav class="nav-wrapper">
        <div class="contenido">
            <p class="nav-title">Estadísticas de la ruta</p>

            <div class="ruta-details">
                <p><strong>Desnivel:</strong> <span class="ruta-desnivel">{{ ruta.desnivel }}</span></p>
                <p><strong>Distancia:</strong> <span class="ruta-distancia">{{ ruta.distancia }} metro(s)</span></p>
                <p><strong>Dirección:</strong> <span class="ruta-direccion">{{ ruta.direccion }}</span></p>

                {% if cantidadValoraciones > 0 %}
                    {% set media = sumaPuntuaciones / cantidadValoraciones %}
                    <p><strong>Puntuación media:</strong> <span class="ruta-puntuacion">{{ media }}</span><span class="icon-star-empty"></span></p>
                {% else %}
                    <p><strong>Puntuación media:</strong> <span class="ruta-puntuacion">no hay valoraciones disponibles.</span></p>
                {% endif %}
            </div>
        </div>
    </nav>

{% endblock %}
