{% extends 'layout.html.twig' %}

{% block content %}
    <article>
        <div class="contenido">
            <p>ARTICLE</p>

            <div class="divImg">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.9437232513633!2d-3.635902294337572!3d38.098903218687546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6e9b313c294117%3A0x76134fbbe1e3384a!2sTienda%20SEUR%20Pickup!5e0!3m2!1ses!2ses!4v1701685640254!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <h3>{{ ruta.nombre }}</h3>

            <p><strong>Descripción:</strong> {{ ruta.descripcion }}</p>

            <p><strong>Comentarios</strong></p>

            <div class="comentarios-section">

                {% set sumaPuntuaciones = 0 %}
                {% set cantidadValoraciones = 0 %}

                {% for valoracion in valoraciones %}
                    {% set sumaPuntuaciones = sumaPuntuaciones + valoracion.puntuacion %}
                    {% set cantidadValoraciones = cantidadValoraciones + 1 %}

                        <div class="comentario">
                            <div class="usuario">
                                <p>{{ valoracion.usuario.nombreUsuario }}</p>
                            </div>
                            <div class="puntuacion">
                                <p>{{ valoracion.puntuacion }}</p>
                            </div>
                            <div class="texto-comentario">
                                <p>{{ valoracion.comentario }}</p>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </article>

    <nav>
        <div class="contenido">
            <p>NAV</p>

            <div class="autor">
                <label>Autor:</label>
                <span>juanlu99</span>
            </div>
            <p>
                <label>Distancia: </label>
                <span>12.3 km</span>
            </p>
            <p>
                <label>Desnivel: </label>
                <span>1254 m</span>
            </p>

            <p><strong>Desnivel:</strong> {{ ruta.desnivel }}</p>
            <p><strong>Duración:</strong> {{ ruta.duracion ? ruta.duracion | date('d/m/Y') : 'N/A' }}</p>

            <label>Dirección: </label>
            <p>{{ ruta.direccion }}</p>

            {% if cantidadValoraciones > 0 %}
                {% set media = sumaPuntuaciones / cantidadValoraciones %}
                <p>Puntuación media: {{ media }}</p>
            {% else %}
                <p>Puntuación media: no hay valoraciones disponibles.</p>
            {% endif %}
        </div>
    </nav>
{% endblock %}
