{% extends 'layout.html.twig' %}

{% block content %}
    <div style="padding: 1em;">
        <h3>Listado de valoraciones</h3>

        {#<p>
            <a href="{{ path('valoracion_nueva') }}">Nueva valoración</a>
        </p>#}

        <table id="myTable" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Ruta</th>
                <th>Usuario</th>
                <th>Puntuación</th>
                <th>Comentario</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for valoracion in valoraciones %}
                <tr>
                    <td>{{ valoracion.id }}</td>
                    <td>{{ valoracion.ruta.nombre }}</td>
                    <td>{{ valoracion.usuario.correo }}</td>
                    <td>{{ valoracion.puntuacion }}</td>
                    <td>{{ valoracion.comentario  }}</td>
                    <td><a href="{{ path('valoracion_modificar', {'id': valoracion.id}) }}">Modificar</a></td>
                    <td><a href="{{ path('valoracion_eliminar', {'id': valoracion.id}) }}">Eliminar</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="5">No hay valoraciones</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
