{% extends 'base.html.twig' %}

{% block body %}
    <header class="main-header">
        <div class="logo"></div>

        <nav id="nav" class="main-nav" >
            <div class="nav-links" >
                <a class="link-item" href="{{ path('principal') }}">Inicio</a>
                {% if is_granted('ROLE_MODERADOR') == true %}
                    <a class="link-item icon-accessibility" href="{{ path('ruta_listar') }}">Rutas</a>
                {% endif %}
                <a class="link-item icon-compass2" href="{{ path('ruta_listar_detalle') }}">Rutas Detalle</a>
                {% if is_granted('ROLE_MODERADOR') == true %}
                    <a class="link-item icon-star-empty" href="{{ path('valoracion_listar') }}">Valoraciones</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') == true %}
                    <a class="link-item icon-users" href="{{ path('usuario_listar') }}">Usuarios</a>
                {% endif %}
                {% if is_granted('ROLE_USUARIO') == false %}
                    <a class="link-item icon-enter" aria-current="page" href="{{ path('entrar') }}">Login</a>
                {% endif %}
                {% if is_granted('ROLE_USUARIO') %}
                    <a class="link-item icon-user-tie" aria-current="page" href="{{ path('salir') }}">Perfil</a>
                    <a class="link-item icon-exit" aria-current="page" href="{{ path('salir') }}">Logout</a>
                {% endif %}
            </div>
        </nav>

        <button id="button-menu" class="button-menu icon-menu"></button>
    </header>

    <div class="contenido">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p class="parrafoFooter">2023, Jaime Corpas Gómez</p>
    </footer>
{% endblock %}

